/.idea
/__pycache__
/flownet_experiments
/__pycache__
/flownet_experiments
/PointNet2/.idea


/PointNet2/Pointnet_Pointnet2_pytorch/runs
/PointNet2/Pointnet_Pointnet2_pytorch/visualizer
/visualizations
/pointnet2.egg-info
/Data
/PointNet2/Pointnet_Pointnet2_pytorch/log/back_segmentation/pointnet2_part_seg_msg/2500/predictions
/PointNet2/Pointnet_Pointnet2_pytorch/log/back_segmentation/pointnet2_part_seg_msg_circles/10000/predictions
/PointNet2/Pointnet_Pointnet2_pytorch/log/back_segmentation/pointnet2_part_seg_msg/2500/visualizations
/PointNet2/Pointnet_Pointnet2_pytorch/log/back_segmentation/pointnet2_part_seg_msg_circles_6_2/10000/predictions
/PointNet2/Pointnet_Pointnet2_pytorch/log/regression/pointnet2_reg_cls_msg/10000/predictions
/PointNet2/Pointnet_Pointnet2_pytorch/log/regression/pointnet2_reg_cls_msg/10000-v1/predictions
/PointNet2/Pointnet_Pointnet2_pytorch/log/regression/pointnet2_reg_cls_msg/20000/predictions
/Users/ghebr/Desktop/MotionAIS/build

ais-interface-backend/data
so-open3d.yaml
ais-interface/app/sample_data.tsx
.DS_Store
main_.py

