/.idea
/build
/display_raw_file.py
/flownet_test
/my_test_flownet.py
/gui
/MyDataLoader.py
/PointNet2/.idea
/PointNet2/Pointnet_Pointnet2_pytorch/__pycache__
/PointNet2/Pointnet_Pointnet2_pytorch/models/__pycache__
/PointNet2/Pointnet_Pointnet2_pytorch/data_utils
/PointNet2/Pointnet_Pointnet2_pytorch/log
/PointNet2/Pointnet_Pointnet2_pytorch/runs
/PointNet2/Pointnet_Pointnet2_pytorch/seg_results
/PointNet2/Pointnet_Pointnet2_pytorch/visualizer

/seg_results
/test.csv
/test.py
/test_flownet.py
/test_flownet_original.py
/view_status.json
/__pycache__
/visualizations
/data_utils/test
/data_utils/__pycache__
/pointnet2.egg-info
/video_maker.py
/visualize.py